*,
*::before,
*::after {
  box-sizing: border-box;
}

/* \\\\\\\\\\\\\\\\\\\\ */
/* COMPONENT CONTAINERS */
/* \\\\\\\\\\\\\\\\\\\\ */

.comp-navbar {
  border: 1px solid black;
}

.comp-main {
  border: 1px solid black;
}

.comp-footer {
  border: 1px solid black;
}
