/* \\\\\\\\\\\\\\\\\\\\ */
/* \ CONTROL VARIABLES\ */
/* \\\\\\\\\\\\\\\\\\\\ */

:root {
  --cardRadius: 25px;
  --themeColor: #00ad91;
  --p-font-size: 18px;
  --p-font-weight: 500;
}

/* \\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\ CSS RESET \\\ */
/* \\\\\\\\\\\\\\\\\\\\ */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
p {
  font-size: var(--p-font-size);
  font-weight: var(--p-font-weight);
}

body {
  margin: 0rem;
}

li {
  list-style-type: none;
  font-size: var(--p-font-size);
  font-weight: var(--p-font-weight);
}

ul {
  margin: 0px;
  padding: 0px;
}

/* \\\\\\\\\\\\\\\\\\\\ */
/* COMPONENT CONTAINERS */
/* \\\\\\\\\\\\\\\\\\\\ */

.comp-navbar {
  border: 1px solid rgb(255, 0, 0);
  /* height: 15%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}

.comp-main {
  border: 1px solid rgb(255, 0, 0);
}

.comp-footer {
  border: 1px solid rgb(255, 0, 0);
  background-color: var(--themeColor);
  padding-top: 15rem;
  padding-bottom: 3rem;
}

.footer-content {
  border: 1px solid black;
  text-align: center;
}

.footer-copyright {
  padding: 1rem;
}

/* \\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\ nav \\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\ */
.nav-img {
  border: 1px solid black;
  width: 75px;
  margin-left: 2rem;
}

.nav-button {
  border: 2.5px solid var(--themeColor);
  border-radius: 1.5rem;
  height: 3rem;
  width: 11rem;
  padding: 0.7rem;
  background-color: transparent;
  color: var(--themeColor);
  margin-right: 3%;
  transition: 300ms;
  text-decoration: none;
  font-size: var(--p-font-size);
  font-weight: var(--p-font-weight);
  text-align: center;
}

.nav-button:hover {
  background-color: var(--themeColor);
  transition: 300ms;
  color: white;
}

/* \\\\\\\\\\\\\\\\\\\\ */
/* \\\ body sections \\ */
/* \\\\\\\\\\\\\\\\\\\\ */

/* \\\\\\\ HERO \\\\\\\ */
.body-hero {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-hero h1 {
  font-size: 40px;
  font-weight: 1300;
  margin-top: 5rem;
  text-align: center;
}

.body-hero h2 {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

.hero-img {
  margin-top: 2rem;
  max-width: 225px;
}

/* \\\\\\\ SUBHERO \\\\\\\ */

.body-subhero {
  border: 1px solid black;
}
.subhero-img {
  min-width: 550px;
  width: 100%;
}

/* \\\\\\\ ABOUT \\\\\\\ */

.body-about {
  border: 1px solid black;
  background-color: var(--themeColor);
  padding-bottom: 10rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

.about1 {
  border: 1px solid black;
  text-align: center;
  color: rgb(248, 248, 248);
}

.about2 {
  border: 1px solid black;
  text-align: center;
  color: rgb(248, 248, 248);
}
/* \\\\\\ SKILLS \\\\\\\\ */
.body-skills {
  border: 1px solid black;
  margin-top: -5rem;
  display: flex;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 8rem;
}

.skills-flex-container {
  border: 1px solid rgb(175, 175, 175);
  border-radius: var(--cardRadius);
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(248, 248, 248);
}

.skills-items-container {
  border: 1px solid black;
  text-align: center;
  padding: 60px 35px;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.skill-item-icon {
  border: 1px solid black;
}
.skill-item-h1 {
  border: 1px solid black;
}
.skill-item-p-heading {
  border: 1px solid black;
}
/* \\\\\\ PROJECTS \\\\\\\\ */
.body-projects-heading {
  border: 1px solid black;
  background-color: var(--themeColor);
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 8rem;
}

.body-projects {
  border: 1px solid black;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: -7rem;
}

.projects-items-container {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-item-image {
  border: 1px solid black;
  margin: 0.75rem;
  width: 30%;
  border-radius: 15px;
  max-width: 500px;
}
